.mb-2 {
    margin-bottom: 2em;
}

.mb-4 {
    margin-bottom: 1rem;

}

.btn-right {
    text-align: right;
    margin: auto;
    display: block;
}

.gap-4 {
    gap: 1rem;
    align-items: center;
    display: flex;
}

.w-24 {
    width: 8rem;
}

.mt-2 {
    margin-top: 2rem;
}

.justify-end {
    justify-content: end;
}

.gap-2 {
    gap: .5rem;
    display: flex;

}