.p-field {
    margin-bottom: 1.5rem;
    /* Adjust the value as needed */
}

/* Add specific margin for error messages globally */
.p-error {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: small;
    color: red;
}