/* dashboard-remote-checkin.component.css */
.p-fluid {
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.p-field {
    margin-bottom: 1rem;
}

.p-table {
    margin-top: 2rem;
}

.p-tag {
    font-weight: bold;
}

#search {
    width: 25em;
}