<p-toast />
<!-- dashboard-remote-checkin.component.html -->
<div class="p-fluid">
    <h2 class="text-center mb-4">Remote Check-ins Dashboard</h2>

    <!-- Filter/Search -->
    <!--     <div class="p-field p-grid">
        <label for="search" class="p-col-12 p-md-2">Search</label>
        <div class="p-col-12 p-md-10">
            <input id="search" pInputText (ngModel)="searchTerm"
                placeholder="Search by reservation number or guest name" />
        </div>
    </div> -->

    <!-- Check-in Table -->
    <!-- @ts-ignore -->
    <p-table #dt2 [value]="reservations" [paginator]="true" [rows]="10" dataKey="id_reference"
        [globalFilterFields]="['id_reference','room_name','status']" responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>

                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Global Search" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Reservation Number</th>
                <th>Guest Name</th>
                <th>Room</th>
                <th>Check-in Date</th>
                <th>Check-out Date</th>
                <th>Status</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-reservation>
            <tr>
                <td>{{ reservation.id_reference }}</td>
                <td>{{ reservation.name_reference }}</td>
                <td>{{ reservation.room_name }}</td>
                <td>{{ reservation.start_date }}</td>
                <td>{{ reservation.end_date }}</td>

                <td>
                    <p-tag [value]="reservation.status" [severity]="getStatusSeverity(reservation.status)"></p-tag>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="7">No data found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- dashboard-remote-checkin.component.html -->
<p-chart type="line" [data]="checkInData" [options]="chartOptions"></p-chart>